{% extends 'base-layout.html.twig' %}

{% block aside %}
    <div class="panel panel-info">
        <div class="panel-heading">Les tags</div>
        <div class="panel-body">
            <ul>
                <li>PHP (5)</li>
                <li>Symfony (8)</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Archive</div>
        <div class="panel-body">
            <ul>
                <li>2016 (5)</li>
                <li>2015 (8)</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Les auteurs</div>
        <div class="panel-body">
            <ul>
                <li>Pierre (5)</li>
                <li>Paul (8)</li>
                <li>Jacques</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Les plus populaires</div>
        <div class="panel-body">
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Les derniers commentaires</div>
        <div class="panel-body">
        </div>
    </div>

{% endblock %}

{% block content %}

{% endblock %}