{% extends 'layouts/front-layout.html.twig' %}

{% block content %}
    <h1>Zone sécurisée des auteurs</h1>

    <table class="table">
        <tr>
            <th>Article</th>
            <th>nb commentaires</th>
            <th></th>
        </tr>

        <tr>
            <td>Article 1</td>
            <td>5</td>
            <td><a>modifier</a></td>
        </tr>

        <tr>
            <td>Article 2</td>
            <td>3</td>
            <td><a>modifier</a></td>
        </tr>
    </table>
{% endblock %}

{% block aside %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('article_new') }}" class="btn btn-default">Nouvel article</a></li>
        <li><a href="{{ path('author_edit') }}" class="btn btn-default">Modifier mon compte</a></li>
    </ul>

{% endblock %}